.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: white;
  align-items: center;
}

.app-title {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 800;
}

.app-timer {
  
}

.app-view {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  max-width: 1200px;
}